<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <%- include('./partials/head.ejs', {title: 'WINO | Home' }) %>
        <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <main>
            <!-- <section class="banner">
                <h2>Welcome to WINO!</h2>
                <!-- <a href="/wines" class="btn">Shop Now!</a> -->
            <!-- </section> 
        -->

            <div class="hero min-h-60"
                style="background-image: url(/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
                <div class="hero-overlay bg-opacity-60"></div>
                <div class="hero-content text-center text-neutral-content">
                    <div class="max-w-md">
                        <h1 class="mb-5 text-5xl font-bold">Welcome!</h1>
                        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                            exercitationem
                            quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                        <button class="btn btn-primary"> <a href="/about">Learn More</a></button>
                    </div>
                </div>
            </div>


            <section class="featured-wines">
                <h2>Featured Wines</h2>
                <ul class="wine-grid">
                    <% for (let wine of wines) { %>
                        <li>
                            <img src="<%= wine.photo %>" alt="Wine Image">
                            <h3>
                                <%= wine.name %>
                            </h3>
                            <p>
                                <%= wine.style %>
                            </p>
                            <p>
                                <%= wine.type %>
                            </p>
                            <p>
                                <%= wine.producer %>
                            </p>
                            <p>Rating: <%= wine.averageRating %>/5
                            </p>

                            <a href="/wines/<%= wine._id %>" class="btn">Learn More</a>
                        </li>
                        <% } %>
                </ul>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>